<?xml version="1.0"?>
<model>
  <name>erc2025_remote_sim</name>
  <version>1.0</version>
  <sdf version="1.7">worlds/marsyard.sdf</sdf>

  <author>
    <name>IlTuoNome</name>
    <email>tuo@email.com</email>
  </author>

  <description>
    Un mondo personalizzato con mesh 3D e texture.
  </description>
</model>
